<h2>First Time Setup</h2>
<br />

<div>
    <span>Personal Access Token: </span>
    <input name="token" id="token" type="password" [formControl]="token" />

    <br />

    <span>Organization: </span>
    <input [formControl]="org" name="organization" id="organization" type="text" />

    <br />

    <span>Project: </span>
    <select [formControl]="project" name="project" id="project" (click)="displayProjects()">
        <option *ngFor="let p of projects" [value]="p.id">{{p.name}}</option>
    </select>

    <br />

    <span>Work Item Type: </span>
    <select [formControl]="workItemType" name="wit" id="wit" (click)="displayWorkItemTypes()">
        <option *ngFor="let w of wits" [value]="w.id">{{w.name}}</option>
    </select>

    <br />

    <button type="button" (click)="saveSettings()">Save</button>
</div>